$darkBlue: #4849af;
$darkBlue-hover: #5480d8;
$colorStartBtn: #39c064;
$colorStartBtn-hover: #309c53;
$colorGreen: #1da76a;
$colorGreen-hover: #1e9761;
$colorReset: #e13f3f;
$colorReset-hover: #c93737;
$colorWhite: #fff;

$shadow: 0 0 3px 0px #000;

$sizeBtn-35: 35px;
$sizeBtn-40: 40px;
$sizeBtn-50: 50px;
$sizeBtn-90: 90px;